/* Generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Color del fondo */
body {
    background-color: gray;
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    margin: 20px 10px;
}

@media (min-width: 0px) and (max-width: 600px) {
    h1 {
        background-color: black;
        color: gray;
        padding: 5px;
        border-radius: 10px;
    }
}

/* tipografia de titulos secundarios y separacion de los textos o fotos*/
h2,
h3,
h4,
h5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 7px;
}

/* tipografia de textos */
p {
    font-family: sans-serif;
}

/* tipografias de links */
a {
    text-decoration: none;
    color: black;
}

/* Barra de navegacion */
nav ul div {
    background-color: rgba(255, 255, 255, 0.603);
    list-style: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
    font-size: 20px;
    border: black 1px solid;
    border-radius: 20px;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media (max-width: 600px) {

    nav ul div {
        background-color: rgba(255, 255, 255, 0.603);
        border: solid 2px black;
        border-radius: 15px;
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin: 3px;
        padding: 3px;
        border: solid rgba(0, 0, 0, 0.459);
        border-radius: 20px;
        text-align: center;
    }

    nav ul {
        font-size: 0.8rem;
        flex-direction: column;
        align-items: center;
        border: none;
        background-color: gray;
    }
}

/* img 300px (temporal) */
figure img {
    width: 300px;
}

/* footer */

footer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.603);
    padding: 3px;
}

.edicion-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-logos {
    display: flex;
    justify-content: space-around;
    align-items: end;
    margin-top: 5px;
}

.logo {
    width: 35px;
    height: 35px;
    border-radius: 200px;
}

@media (min-width: 0px) and (max-width: 600px) {

    footer {
        flex-direction: column;
    }

    .creadores-footer {
        text-align: center;
        margin: 3px;
    }

    .redes-footer {
        text-align: center;
    }

    .edicion-footer {
        display: none;
    }

    .div-logos {
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}

/* Centro el texto */
.centrado {
    text-align: center;
    margin: 20px;
}

/* intento de poner circulos en las listas */
ol {
    margin: 10px;
    padding: 10px;
}

/* .records_messi{
    margin: 10px;
    padding: 10px;
} */

/* tamaño de las detras de los titulos*/
main h3 {
    font-size: 30px;
}

main section h4 {
    font-size: 23px;
}

.h5_tam {
    font-size: 1.5rem;
    text-align: center;
    margin: 5px;
    padding: 10px;
    border-bottom: solid black;
}

/* Index */

/* Img principal index */
.img_principal {
    width: 98.7vw;
    ;
}

@media (min-width: 0px) and (max-width: 600px) {
    .img_principal {
        border: solid rgba(78, 76, 76, 0.507) 3px;
        border-radius: 10px;
    }
}

/* Quienes somos */

.qs_blk {
    padding: 5px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.603);
    border-radius: 20px;
    border: solid black;
}

/* titulo Quienes somos */
.qs_titulo {
    text-align: center;
}

/* Texto quienes somos */
.qs_texto {
    text-align: center;
    font-size: 1rem;
}


/* Nuestro objetivo */



/* Nuestro objetivo div */
.no_div {
    background-color: rgba(255, 255, 255, 0.603);
    border-radius: 20px;
    border: solid black;
    margin: 50px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 300px;
}

@media (min-width: 0px) and (max-width: 600px) {

    /* Hay que moverlo al medio */
    .art-no {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .no_div {
        /* justify-content: center; */
        margin: 10px;
        flex-direction: column;
        align-items: center;
    }
}

/* Nuestro objetivo texto y titulo */

.no_titulo {
    text-align: center;
    padding: 5px;
    margin: 0px;
}

.no_texto {
    padding: 10px;
    padding-right: 15px;
    text-align: justify;
    width: 300px;
    margin: 5px;
    font-size: 1rem;
}

/* Nuestro deporte favorito */
/* Nuestro deporte favorito (intento de poner derecho) */
.art_df {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.art_df2 {
    background-color: rgba(255, 255, 255, 0.603);
    border-radius: 20px;
    border: solid black;
    width: 310px;
}

/* titulo DF */
.tt_df {
    text-align: center;
    padding: 5px;
    margin: 5px;
}

/* texto DF */

.t_df {
    text-align: justify;
    margin: 5px;
    padding-right: 5px;
    width: 300px;
    font-size: 1rem;
}

/* Titulo cualquiera */
/* Titulo cualquiera div */
.tc_div {
    margin: 50px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: end;
}

.tc_div2 {
    background-color: rgba(255, 255, 255, 0.603);
    border-radius: 20px;
    border: solid black;
}

@media (min-width: 0px) and (max-width: 600px) {

    .tc_div {
        align-items: center;
    }

    .tc_div2 {
        align-items: center;
        margin: 0px;
        padding: 0px;

    }
}

/* Titulo titulo cualquiera */
.titulo_tc {
    width: 300px;
    text-align: center;
    margin: 10px;
}

/* Texto titulo cualquiera */
.texto_tc {
    width: 300px;
    margin: 10px;
    font-size: 1rem;
}

/* IMAGENES INDEX */
/* img Nuestro objetivo */
.no_foto {
    padding: 10px;
    padding-left: 3px;
    border-radius: 20px;
    width: 300px;
}

/* img deporte favorito */
.df_foto {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin: 5px;
    padding-right: 5px;
}

/* img titulo cualquiera */
.tc_foto {
    margin: 10px;
    border-radius: 20px;
    width: 300px;
}

@media (max-width: 600px) {


    .no_foto {
        padding: 0px;
        padding: 10px;
    }

}

@media (min-width: 601px) and (max-width: 1024) {}

/* ============= Qatar 2022 =============== */
/* titulos principales */

.titulo-principal-qatar {
    background-color: rgba(255, 255, 255, 0.603);
    border-radius: 20px;
    border: solid black;
}



.div_goles {
    display: flex;
    justify-content: center;
}

.titulo_goles {
    text-align: center;
    font-size: 30px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.603);
    border-radius: 20px;
    width: 200px;
    border: solid black;
}

/* Orden qatar 2022 videos */

.blk_videos {
    display: flex;
    justify-content: space-around;
}

/* Mejores goles */
.video_mejoresgoles {
    border-radius: 20px;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

.div_mejoresgoles {
    background-color: rgba(255, 255, 255, 0.603);
    border-radius: 20px;
    width: 600px;
    border: solid black;
}

/* Todos los goles */

.video_todoslosgoles {
    border-radius: 20px;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

.div_todoslosgoles {
    background-color: rgba(255, 255, 255, 0.603);
    border-radius: 20px;
    width: 600px;
    border: solid black;
}

/* Estadisticas */

.estadisticas {
    font-size: 30px;
    text-align: center;
    padding: 10px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.603);
    border-radius: 20px;
    border: solid black;
}

/* Listas */

.div_listasqatar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

/* Goleadores */
.goleadoresqatar {
    background-color: rgba(255, 255, 255, 0.603);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border: solid black;
}

/* Foto */
.goleadoresqatarfoto {
    border-radius: 20px;
}

/* Lista */
.goleadoresyasistidoresqatarlista {
    list-style: none;
}

/* Maximos asistidores */
.asistidores {
    background-color: rgba(255, 255, 255, 0.603);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: solid black;
}

.asistidoresfoto {
    border-radius: 20px;
    height: 200px;
}

/* gya lista */

.gyalista {

    margin: 5px;
    padding: 5px;
}

/* Records de messi */
.records {
    background-color: rgba(255, 255, 255, 0.603);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: solid black;
}

.records_texto {
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 1em;
}

.records_foto {
    border-radius: 20px;
    height: 200px;
}


/* ============== Champions ================== */
/* Mobile first */
/* &&&&&&&&&& Celular 320 a 600 &&&&&&&&&&&& */
/* Orden champions.html */

/* Imagen principal */
.img_champ {
    width: 98vw;
    margin: 1px;
}

/* listas */
.champions-listas {
    display: grid;
    justify-content: center;
    /* margin-left: 25vw; */
    text-align: justify;
    padding: 5px;
    margin-left: 3px;
}

/* Orden */
.orden_champ {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Titulos de las listas */
.champ-titulos-listas {
    background-color: black;
    border: solid rgba(255, 255, 255, 0.568);
    border-radius: 10px;
    color: white;
}

/* Textos de las listas */
.champ-textos-listas {
    color: black;
    background-color: rgba(255, 255, 255, 0.603);
    border-radius: 10px;
    border: solid black;
    margin: 5px;
}

.prueba {
    text-align: center;
}

.foto-cruces2 {
    display: none;
}

@media (min-width: 900px) and (max-width: 1199px) {

    /* listas */
    .champions-listas {
        display: grid;
        justify-content: center;
        text-align: justify;
    }

    .champ-textos-listas {
        margin: 10px;
        padding: 15px;
    }

    /* Primera fila */
    .champ-primerfila {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        /* flex-flow: row nowrap; */
    }

    /* segunda fila */
    .champ-segundafila {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    /* foto de los cruces */
    /* .foto.cruces{*/

}

@media (min-width: 1200px) and (max-width: 1400px) {

    .titulo_champ {
        color: black;
        background-color: rgba(255, 255, 255, 0.603);
        border-radius: 10px;
        border: solid black;
        padding: 10px;
    }

    .titulo_champ:hover {
        color: rgb(34, 34, 236);
        border: solid rgb(34, 34, 236);
    }



    .champions-listas {
        display: grid;
        justify-content: center;
        text-align: justify;
        padding-left: 20px;
    }


    .champ-primerfila {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }

    .champ-segundafila {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .cruces {
        background-color: rgba(255, 255, 255, 0.603);
        border-radius: 10px;
        border: solid black;
        margin-bottom: 10px;
    }

    .foto.cruces {
        display: block;
        width: 600px;
        height: 500px;
    }
}

/* ================= Primera ================= */
/* &&&&&&&&&&&&&&&&& mobile first &&&&&&&&&&&&& */
.primera-titulos {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.603);
    border-radius: 10px;
    border: solid black;
    padding: 10px;
}

.primera-actualidad {
    text-align: center;
    font-size: 35px;
    background-color: rgba(255, 255, 255, 0.603);
    border: solid black;
    border-radius: 10px;
}

.bloque-losmasganadores {
    border-radius: 10px;
}

.div-losmasganadores {
    display: flex;
    justify-content: center;
}

.primera-losmasganadores {
    background-color: rgba(255, 255, 255, 0.603);
    border-radius: 10px;
    border: solid black;
    padding: 10px;
}

.tabla-posiciones {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.primera-goleadores {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.primera-clasicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 10px;
    margin: 10px;
}

.primera-clasicos-bg {
    background-color: rgba(255, 255, 255, 0.603);
    border-radius: 10px;
    border: solid black;
}

.primera-clasicos-bg ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lista-clasicos {
    padding-bottom: 10px;
    display: block;
    text-align: start;

}

.img-tabla {
    display: flex;
    justify-content: center;
}

.img-ultimos-campeones {
    display: flex;
    justify-content: center;
}

@media (min-width: 1000px) {

    /* BG */

    /* Primera fila */
    .primera-primerafila {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    /* Segunda fila */

    .primera-segundafila {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 5px;
    }

    .tabla-posiciones {
        border-radius: 10px;
    }
}

/* ================= Contactos ================ */

.titulos-contactos {
    border-bottom: solid black;
}

.banner_contacto {
    width: 100%;
}

/* Opiniones y buscamos... */
.papa_opinionesyb {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.sec_cont {
    background-color: rgba(255, 255, 255, 0.603);
    border-radius: 20px;
    text-align: center;
    width: 600px;
}

.texto_opinionesyb {
    margin: 5px;
    padding: 5px;
    text-align: center;
    font-size: 1rem;
}



/* Buscamos desarrolladores - deje su objetivo */
.texto-cv {
    display: none;
}

.area-texto {
    padding: 10px;
}

.opinion-aqui:hover {
    border: rgb(0, 118, 253) solid 1px;
}

.objetivo-area-texto:hover {
    border: rgb(0, 118, 253) solid 1px;
}

/* Botones */

.button1 {
    font-size: 15px;
    color: white;
    background-color: black;
    margin-bottom: 10px;
}

.button1:hover {
    color: black;
    background-color: gray;
}

.button2 {
    font-size: 15px;
    color: white;
    background-color: black;
    margin-bottom: 10px;
}

.button2:hover {
    color: black;
    background-color: gray;
}

@media (max-width: 800px) {

    /* Curriculum */
    .curriculum {
        display: none;
    }

    .texto-cv {
        display: block;
        background-color: black;
        border: solid white 5px;
        border-radius: 10px;
        color: white;
        padding: 5px;
    }

    .texto-cv:hover {
        color: red;
        border: red solid 5px;
    }


    /* objetivo */

    .objetivo {
        display: none;
    }

    .objetivo-area-texto {
        display: none;
    }

    .button2 {
        display: none;
    }
}

.bd {
    display: flex;
    flex-direction: column;
}