/* Generales */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Puse boostrapp y me tosqueo todo, esto es para corregirlo :(

.MBsports{
    font-weight: bold;
}

.lista{
    margin-bottom: 1px;
    padding: 0px;
}

ul{
    padding-left: 0px;
}
// hasta aca

/* Color del fondo */
body {
    background-color: $fondo;
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    margin: 20px 10px;

}


@media (min-width: 0px) and (max-width: 600px) {
    h1 {
        background-color: black;
        color: gray;
        padding: 5px;
        border-radius: 10px;
    }
}

/* tipografia de titulos secundarios y separacion de los textos o fotos*/
h2,
h3,
h4,
h5 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 7px;
}

/* tipografia de textos */
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* tipografias de links */
a {
    text-decoration: none;
    color: black;
}



/* img 300px (temporal) */
figure {
    img {
        width: 300px;
    }
}

/* Centro el texto */
.centrado {
    text-align: center;
    margin: 20px;
}

/* tamaño de las detras de los titulos*/
main {
    h3 {
        font-size: 30px;
    }

    section {
        h4 {
            font-size: 23px;
        }
    }
}


.h5_tam {
    font-size: 1.5rem;
    text-align: center;
    margin: 5px;
    padding: 10px;
    border-bottom: solid black 1px;
}

