/* ============= Qatar 2022 =============== */
/* titulos principales */

.titulo-principal-qatar {
    background-color:$color-principal;
    border-radius: 20px;
    padding:  10px;
    box-shadow: $sombra-interior-1px;
    border: $borde-gral;
}

.div_goles {
    display: flex;
    justify-content: center;
    
}

.titulo_goles {
    text-align: center;
    font-size: 30px;
    padding: 10px;
    background-color:$color-principal;
    border-radius: 20px;
    width: 200px;
    box-shadow: $sombra-interior-1px;
    border: $borde-gral;
}

/* Orden qatar 2022 videos */

.blk_videos {
    display: flex;
    justify-content: space-around;
}

/* Mejores goles */
.video_mejoresgoles {
    border-radius: 20px;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

.div_mejoresgoles {
    background-color:$color-principal;
    border-radius: 20px;
    width: fit-content;
    box-shadow: $sombra-interior-1px;
}

/* Todos los goles */

.video_todoslosgoles {
    border-radius: 20px;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

.div_todoslosgoles {
    background-color:$color-principal;
    border-radius: 20px;
    width: fit-content;
    box-shadow: $sombra-interior-1px;
}

/* Estadisticas */

.estadisticas {
    font-size: 30px;
    text-align: center;
    padding: 10px;
    margin: 20px;
    background-color:$color-principal;
    border-radius: 20px;
    box-shadow: $sombra-interior-1px;
    border: $borde-gral;
}

/* Listas */

.div_listasqatar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

/* Goleadores */
.goleadoresqatar {
    background-color:$color-principal;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: $sombra-interior-1px;
}

/* Foto */
.goleadoresqatarfoto {
    border-radius: 20px;
}

/* Lista */
.goleadoresyasistidoresqatarlista {
    list-style: none;
}

/* Maximos asistidores */
.asistidores {
    background-color:$color-principal;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: $sombra-interior-1px;
}

.asistidoresfoto {
    border-radius: 20px;
    height: 200px;
}

/* gya lista */

.gyalista {

    margin: 5px;
    padding: 5px;
}

/* Records de messi */
.records {
    background-color:$color-principal;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: $sombra-interior-1px;
}

.records_texto {
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 1em;
}

.records_foto {
    border-radius: 20px;
    height: 200px;
}

/* Mobile  */
@media (max-width: 600px) {

    .blk_videos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .video_mejoresgoles {
        width: 300px;
    }

    .div_mejoresgoles {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .video_todoslosgoles {
        width: 300px;
    }

    .div_todoslosgoles {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5px;
    }

    .div_listasqatar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .goleadoresqatar {
        width: fit-content;
    }

    .asistidores {
        width: fit-content;
    }

    .records {
        width: fit-content;
    }


}

// TABLET 

@media (min-width: 601px) and (max-width: 1150px) {
    .blk_videos {
        flex-direction: column;
        align-items: center;
    }

    .div_mejoresgoles {
        text-align: center;
    }

    .div_todoslosgoles {
        text-align: center;
        margin-top: 5px;
    }

    .div_listasqatar {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .goleadoresqatar {
        width: fit-content;

    }

    .asistidores {
        width: fit-content;
    }

    .records {
        width: fit-content;
    }
}